/* "borrowed" from mozilla.org feel free to "borrow"
#00CC00
 */

.bannercell {
    background-color: #009933;
    border: 0px;
    padding: 0px;
}

.bannerlink {
    display: block;
    background-color: #009933;
    color: #009933;
}
.bordercell {
    background-color: #009933;
}
.titlecell{
    background-color: #CCC;
}
.acell{
    background-color: #FFFF00;
}
.contentcell {
    background-color: #FFF;
}
body, html {
    margin: #FFF;
    background: #FFF;
    color: #000;

}
.vtbanner{

    border: 0;
    margin: 0;
    padding: 0;
}

.spacercell {
    height: 3px;
}
.linkcell {
    white-space: nowrap;
    font-size: 85%;
}
.documentinfo {
    font-size: 80%;
}
.vtsidebar {
    font-size: 85%;
}
.listbullet {
    margin: 0;
}
.horizbanner {
    font-size: 80%;
}
/* Banner styles end */

/* Styles for page content 
 *
 * First version 2001-08-01 henris@clinet.fi 
 * Added link color 2001-08-05 henris@clinet.fi
 *
 * These styles are not comprehensive. These are
 * only the very minimum required for the Strict
 * conversion effort.
 */

/* The margin with for <body> and <html> are zero so the black
 * border around the banner reaches the edges of the content area.
 * On pages with horizontal layout contain the content in a 
 * <DIV CLASS="document-body" so the rest of the page has a margin.
 */

.document-body {
     margin: 10px;
}

/* the horizontal menu bar should have a margin too, but smaller than
 * the main document.
 */
.horizontal-menu {
     margin: 1px 3px;
}

a:link {
    color: #00E;
}
a:visited {
    color: #551A8B;
}
a:active {
    color: #F00
}

/* Virtually all <dt> elements on www.mozilla.org had the 
 * content wrapped in a <b> element. Moving presentation here.
 */
dt {
    font-weight: bold;
}

/* Tables of contents and task lists deserve larger font in <dt> */
.toc dt, .tasklist dt {
    font-size: 120%;
}

/* For unified look with unconverted pages, centering level 1
 * headings, author names and horizontal category links.
 * When the conversion is near complete, this can be revisited.
 */
h1, .horiz-category-list, .author {
    text-align: center;
}

/* These used to be single-cell tables. Moving presentation to style. */
.important {
    background-color: #FF9;
    border: solid 1px #F00;
    padding: 1em;
}

/* Replacement for nested emphasis */
strong.stronger {
    font-weight: bold;
    font-style: italic;
}

/* Replacement for nested emphasis involving even the font color */
strong.very-strong {
    font-weight: bold;
    font-style: italic;
    color: #F00;
}

/* For use with various shaded elements */
.shaded {
    color: #000;
    background-color: #EEE;
}
